body{
            
    font-family: arial;
    background-color: rgb(29, 29, 29);
    color:white;
    margin-bottom: 500px;
    margin-left: 20px;
}
#main-buttons{
    display: flex;
    justify-content: space-around;
    
}

#main-buttons{
    max-width: 60%;
}
#rock-button-img,#paper-button-img, #scissors-button-img{
    background-color:rgb(28, 28, 28);
    width: 50%;
                
}

#rock-button ,#paper-button,#scissors-button{
    width: 27%;
    max-width: 200px;
             
    background-color: rgb(28, 28, 28);
    /* {border: 1px solid white;} == { border-width:1px ; border: solid; border-color:white; } */
    border: solid;
    border-color: rgb(212, 176, 189);
    border-radius: 60px;
    
    cursor: pointer;
}
#heading-para{
    margin-top: 10px;
    color: rgb(31, 233, 16);
    font-size: 40px;
    font-weight: 900;
}
#whatresult{
   font-size: xx-large;
   font-weight: 600;
   
   
}
#result-para{
   font-size: 30px;
   font-weight: 700;
   color: rgb(255, 255, 255);
}


#result-full{
   color: rgb(255, 255, 255);
   display: none;
   font-size: x-large;
   margin-top: 50px;

   margin-bottom:50px ;
}
#your-img{
    width: 13%;
    max-width: 120px;
    background-color: rgb(28, 28, 28);
}
#pc-img{
    max-width: 120px;

    width: 13%;
    background-color: rgb(28, 28, 28);
}
#reset-button,#autoPlay-button{
    font-size: 20px;
    font-weight: 600;
    padding:0.9%;
    margin-left: 15px;
    border-radius: 8px;
    background-color: rgb(18, 165, 47);
    border: solid;
    border-color: rgb(151, 151, 206);
}
#howto{
    display: block;
    font-size: xx-large;
    margin-bottom: 50px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 2s ease ,height 2s ease , margin 2s ease ,font-size 2s ease;
    
}